    <%- include('../include/Head.ejs', { ...metadata }) %>

    </head>
    <body class="body-styles">
        <%- include('../components/Navbar.ejs') %>
        <main class="section-container" id="container-body">
            <h1>Tenemos un error, lo solucionaremos lo antes posible</h1>
        </main>
    </body>
    <%- include('../include/Footer.ejs') %>
</html>