<footer class="w-full px-12 py-4">
    <div class="flex flex-col lg:justify-around lg:flex-row">
        <div class="my-4 lg:m-0">
            <p class="footer-headings">Páginas Legales</p>
            <ul>
                <li class="footer-text"><a href="/politica-de-privacidad" rel="nofollow" target="_blank">Política de Privacidad</a></li>
                <li class="footer-text"><a href="/cookies" rel="nofollow" target="_blank">Política de Cookies</a></li>
            </ul>
        </div>
        <div class="my-4 lg:m-0">
            <p class="footer-headings">Páginas de Interés</p>
            <ul>
                <li class="footer-text"><a href="/blog" target="_blank">Blog</a></li>
                <li class="footer-text"><a href="/portafolio" target="_blank">Portafolio</a></li>
                <li class="footer-text"><a href="/contacto"target="_blank">Contacto</a></li>
                <li class="footer-text"><a href="/sobre-mi"target="_blank">Sobre Mi</a></li>
            </ul>
        </div>
        <div class="flex items-center logo-footer my-4 lg:m-0">
            <img src="/logo.png" alt="logo" title="logo" class="lg:w-7/12 mx-auto"/>
        </div>
    </div>
    <div class="mt-6">
        <p class="text-center font-bold">Copyright ©️ <%= new Date().getFullYear()%> Manuel Martín Morante | <a href="https://github.com/Manu200476/web-personal" rel="nofollow" target="_blank">GitHub Repo</a></p>
    </div>
</footer>