<div class="flex justify-center align-center my-3">
    <a href="/sobre-mi">
        <div class="w-full">
            <div class="h-full flex items-center flex-col md:flex-row">
                <img src="/images/foto-perfil.jpg" alt="foto-personal" title="foto-personal" class="w-8 h-8 my-4 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4">
                <p>Manuel Martín Morante</p>
            </div>
        </div>
    </a>
</div>