<div class="flex justify-between w-full">
    <div class="flex justify-center items-center cursor-pointer opacity-60 hover:opacity-100 transition duration-300">
        <img src="/images/den-factory.png" alt="Den Factory">
    </div>
    <div class="flex justify-center items-center cursor-pointer opacity-60 hover:opacity-100 transition duration-300">
        <img src="/images/eurogrow.png" alt="EuroGrow">
    </div>
    <div class="flex justify-center items-center cursor-pointer opacity-60 hover:opacity-100 transition duration-300">
        <img src="/images/nosis.png" alt="Nosis">
    </div>
</div>